# Python
__pycache__/
*.pyc
*.pyo

# DB files
*.db

# Uploads
uploads/

# Environment
.env

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
frontend/build/

# VSCode files
.vscode/

__pycache__/
*.pyc
*.pyo

